.places__title {
  width: 460px;
  font-family: 'Inter', 'Arial', 'Helvetica', sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  color: #FFFFFF;
  margin: 0;
  padding: 0;
  display: grid;
  align-items: flex-end;
  grid-auto-columns: min-content;
}

@media screen and (max-width: 837px) {
  .places__title {
    width: 340px;
    font-size: 42px;
    line-height: 46px;
  }
}

@media screen and (max-width: 500px) {
  .places__title {
    max-width: 288px;
    font-size: 32px;
    line-height: 35px;
    margin-left: 16px;
  }
}
