.places__card {
  display: grid;
  grid-template-columns: repeat(2, minmax(200px, 460px));
  grid-gap: 48px 40px;
  padding-bottom: 80px;
}

.places__card:last-child {
  padding-bottom: 0;
}

@media screen and (max-width: 1024px) {
  .places__card {
    grid-template-columns: repeat(2, minmax(100px, 440px));
    grid-gap: 48px 32px;
    padding-bottom: 80px;
  }
}

@media screen and (max-width: 837px) {
  .places__card {
    grid-template-columns: repeat(2, minmax(100px, 340px));
    grid-gap: 48px 28px;
    padding-bottom: 72px;
  }
}

@media screen and (max-width: 500px) {
  .places__card {
    grid-template-columns: repeat(1, minmax(320px, 500px));
    grid-gap: 32px;
    padding-bottom: 48px;
  }
}
