.lead__way-image {
  width: 100%;
}

@media screen and (max-width: 1024px) {
  .lead__way-image {
    min-width: 768px;
  }
}

@media screen and (max-width: 768px) {
  .lead__way-image {
    min-width: 100%;
  }
}

